body{
  text-align: center;
}
html{
  background-color: black;
}
#pic{
  background-color: gray;
}
p{
  width: 200px;
}
 span {
  display: inline-block;
  background-color: lightblue;
  padding: 5px;
  border: 1px solid darkgray;
}
div,
span {
  margin: 1px;
}

span {
  border: 1px solid #333;
  
  padding: 10px 15px;
}

#pics span,
#text span {
  padding: 25px 30px;
}